<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600' rel='stylesheet' type='text/css'>
    <title>Web services</title>

    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
        }

        html {
            background-color: #f6f6f6;
            font-family: "Open Sans", sans-serif;
        }
    </style>
</head>

<body>
    <div id="<%= htmlWebpackPlugin.options.appRootId %>"></div>
</body>

</html>
